<div style="margin: auto;width:100%">
    <br>
    <div>
        <br>
        <div style="margin: auto;width:95%">
            <p style="font-size: 15px;font-weight: 400;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
                Good day,
            </p>
            <p style="font-size: 15px;color: #353434;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
                I would like to inform you that Cash Request number <span>{{controlNo}}</span> has been successfully approved.
            </p>
            <p style="font-size: 15px;color: #353434;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
                Please click the link below for more details:
            </p>
            <p style="font-size: 15px;color: #353434;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
                <a href="{{link}}">
                    ML Cash Request System
                </a>
            </p>
            <br>
            <p style="font-size: 15px;color: #353434;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Thank
                you!</p>
            <p style="font-size: 15px;color: #353434;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">M
                Lhuillier Financial Services Inc.</p>
        </div>
        <br>
        <br><br>
        <div>
            <p style="color:red;font-style: italic;font-size:12px;text-align:center;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">This is a system generated email. Please do not reply to this message.</p>
        </div>
    </div>
</div>