<div>
    <br>
    <div style="margin: auto;width:95%;">
        <p style="font-size: 15px;color: #353434;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
            Your approval for this Cash Request with a Control No. 
            <span style="font-weight: 500;color:red">{{controlNo}}</span>
            is required to proceed with its execution.
        </p>
        <p style="font-size: 15px;color: #353434;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
            <a href="{{ link }}">Click here to proceed.</a>
        </p>
        <br>
        <p style="font-size: 15px;color: #353434;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Thank
            you!</p>
        <p style="font-size: 15px;color: #353434;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">M
            Lhuillier Financial Services Inc.</p>
    </div>
    <br>
</div>