<div style="margin-top:15px;background-color:rgba(220, 220, 220, 0.438);margin-left:6px;margin-right:50px;">
  <br>
  {{!-- <div
    style="background-color:white;border: 1px solid rgba(0, 0, 0, 0.192);width: 95%;margin: auto;margin-top: 30px;margin-bottom: 35px;">
    <!-- okay na ari -->
    <div style="margin: auto;display: flex;justify-content: space-between;">
      <div
        style="padding-left: 15px;padding-top: 5px;padding-bottom: 5px;margin-bottom: 45px;background-color: #cc0404;width: 69%;">
        <h4
          style="margin: auto;font-size: 21px;color: white;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
          Cash Advance Request</h4>
      </div>
      <img src="https://phisoblog.files.wordpress.com/2015/11/mlhuillier-logo.jpg" alt="ml_logo"
        style="padding-right: 0;padding-left: 0px;margin-top: -1px;width: 30%;height: 80px;">
    </div>
    <!-- okay na bawbaw -->
    {{!-- <div style="width: 70%;margin-top:-25px;margin-left: 40px;">
      <div style="display: flex;">
        <label for="cash-advance"
          style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-weight: 700;font-size: 19px;padding: 5px 0px 3px 0px;display: block;">Cash
          Advance</label>
        <span
          style="font-weight: 400;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 15px;width:70%;padding: 3px 10px;margin-left: 7px;border-top: none;border-left: none;border-right: none;border-bottom: 0.2px solid rgba(0, 0, 0, 0.521);">dsfgdgdg</span>
      </div>
      <div>
        <p style="font-size: 17px;font-weight: 600;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
          To be
          completed by division: Submit to Finance Division for Advance</p>
      </div>
    </div> --}}
    <!-- <br> -->
    <div style="margin-top: 25px;">
      <!-- advance info p -->
      <div style="width: 90%;margin-left: 25px;">
        <p style="font-weight: 700;font-size: 19px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
          Advance
          Information:</p>
      </div>
      <!-- okay na bawbaw -->
      <!-- second--col -->
      <div style="display: flex;width: 100%;">
        <div style="width: 45%;margin: 0px 0px 0px 50px;">
          <div style="display: flex;">
            <label
              style="width:30%;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 15px;padding: 5px 0px 3px 0px;font-weight: 600;display: block;">ID
              Number:</label>
            <span
              style="font-weight: 400;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 14px;width:60%;padding: 3px 3px;border-top: none;border-left: none;border-right: none;border-bottom: 0.2px solid rgba(0, 0, 0, 0.521);">
              {{data.idNumber}}
            </span>
          </div>
          <div style="display: flex;">
            <label
              style="width:30%;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 15px;padding: 5px 0px 3px 0px;font-weight: 600;display: block;">
              Author:
            </label>
            <span
              style="font-weight: 400;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 14px;width:60%;padding: 3px 3px;border-top: none;border-left: none;border-right: none;border-bottom: 0.2px solid rgba(0, 0, 0, 0.521);">
              {{data.author}}
            </span>
          </div>
          <div style="display: flex;">
            <label
              style="width:30%;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 15px;padding: 5px 0px 3px 0px;font-weight: 600;display: block;">Job
              Title:</label>
            <span
              style="font-weight: 400;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 14px;width:60%;padding: 3px 3px;border-top: none;border-left: none;border-right: none;border-bottom: 0.2px solid rgba(0, 0, 0, 0.521);">
              {{data.jobTitle}}
            </span>
          </div>
          <div style="display: flex;">
            <label
              style="width:30%;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 15px;padding: 5px 0px 3px 0px;font-weight: 600;display: block;">
              Branch:
            </label>
            <span
              style="font-weight: 400;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 14px;width:60%;padding: 3px 3px;border-top: none;border-left: none;border-right: none;border-bottom: 0.2px solid rgba(0, 0, 0, 0.521);">
              {{data.branch}}
            </span>
          </div>
          <div style="display: flex;">
            <label
              style="width:30%;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 15px;padding: 5px 0px 3px 0px;font-weight: 600;display: block;">
              Area:
            </label>
            <span
              style="font-weight: 400;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 14px;width:60%;padding: 3px 3px;border-top: none;border-left: none;border-right: none;border-bottom: 0.2px solid rgba(0, 0, 0, 0.521);">
              {{data.area}}
            </span>
          </div>
          <div style="display: flex;">
            <label
              style="width:30%;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 15px;padding: 5px 0px 3px 0px;font-weight: 600;display: block;">
              Region:
            </label>
            <span
              style="font-weight: 400;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 14px;width:60%;padding: 3px 3px;border-top: none;border-left: none;border-right: none;border-bottom: 0.2px solid rgba(0, 0, 0, 0.521);">
              {{data.region}}
            </span>
          </div>
          <div style="display: flex;">
            <label
              style="width:30%;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 15px;padding: 5px 0px 3px 0px;font-weight: 600;display: block;">Email
              Address:</label>
            <span
              style="font-weight: 400;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 14px;width:60%;padding: 3px 3px;border-top: none;border-left: none;border-right: none;border-bottom: 0.2px solid rgba(0, 0, 0, 0.521);">
              {{data.email}}
            </span>
          </div>
        </div>
        <div style="width: 53%;">
          <div style="display: flex;">
            <label
              style="margin: 0px 20px 0px 0px;width:45%;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 15px;padding: 5px 0px 3px 0px;font-weight: 600;display: block;">
              Control No:
            </label>
            <span
              style="font-weight: 400;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 14px;width:35%;padding: 3px 3px;border-top: none;border-left: none;border-right: none;border-bottom: 0.2px solid rgba(0, 0, 0, 0.521);">
              {{data.controlNo}}
            </span>
          </div>
          <div style="display: flex;">
            <label
              style="margin: 0px 20px 0px 0px;width:45%;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 15px;padding: 5px 0px 3px 0px;font-weight: 600;display: block;">
              Date:
            </label>
            <span
              style="font-weight: 400;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 14px;width:35%;padding: 3px 3px;border-top: none;border-left: none;border-right: none;border-bottom: 0.2px solid rgba(0, 0, 0, 0.521);">
              {{data.date}}
            </span>
          </div>
          <div style="display: flex;">
            <label
              style="margin: 0px 20px 0px 0px;width:45%;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 15px;padding: 5px 0px 3px 0px;font-weight: 600;display: block;">Inclusive
              Dates of Travel:</label>
            <span
              style="font-weight: 400;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 14px;width:35%;padding: 3px 3px;border-top: none;border-left: none;border-right: none;border-bottom: 0.2px solid rgba(0, 0, 0, 0.521);">
              {{data.travelDate}}
            </span>
          </div>
          <div style="display: flex;">
            <label
              style="margin: 0px 20px 0px 0px;width:45%;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 15px;padding: 5px 0px 3px 0px;font-weight: 600;display: block;">Estimated
              Departure Date:</label>
            <span
              style="font-weight: 400;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 14px;width:35%;padding: 3px 3px;border-top: none;border-left: none;border-right: none;border-bottom: 0.2px solid rgba(0, 0, 0, 0.521);">
              {{data.departureDate}}
            </span>
          </div>
          <div style="display: flex;">
            <label
              style="margin: 0px 20px 0px 0px;width:45%;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 15px;padding: 5px 0px 3px 0px;font-weight: 600;display: block;">Estimated
              Arrival Date:</label>
            <span
              style="font-weight: 400;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 14px;width:35%;padding: 3px 3px;border-top: none;border-left: none;border-right: none;border-bottom: 0.2px solid rgba(0, 0, 0, 0.521);">
              {{data.arrivalDate}}
            </span>
          </div>
          <div style="display: flex;">
            <label
              style="margin: 0px 20px 0px 0px;width:45%;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 15px;padding: 5px 0px 3px 0px;font-weight: 600;display: block;">
              Amount:
            </label>
            <span
              style="font-weight: 400;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 14px;width:35%;padding: 3px 3px;border-top: none;border-left: none;border-right: none;border-bottom: 0.2px solid rgba(0, 0, 0, 0.521);">
              {{data.amount}}
            </span>
          </div>
        </div>
      </div>
      <br>
      <br>
      <div>
        <div style="width: 85%;margin: 0px 0px 0px 50px;">
          <div style="display: flex;">
            <label
              style="width:15%;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 15px;padding: 5px 0px 3px 0px;font-weight: 600;display: block;">Purpose:</label>
            <span
              style="overflow-wrap: anywhere;font-weight: 400;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 14px;width:100%;padding: 3px 10px;border-top: none;border-left: none;border-right: none;border-bottom: 0.2px solid rgba(0, 0, 0, 0.521);">
              {{data.purpose}}
            </span>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <hr style="width: 94%;">
    <!-- sixth--col -->
    <div style="margin-bottom: 50px;">
      <div style="text-align: center;">
        <h3 style="font-weight:700 ;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">AUTHORITY TO
          DEDUCT
          FROM PAYROLL</h3>
        <p style="font-size: 17px;font-weight:700 ;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
          (Unliquidated Cash Advance Full Amount)</p>
      </div>
      <div style="width: 85%;margin: auto;">
        <p style="font-weight:600 ;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 16px;">
          This is to authorized
          M.Lhuillier Financial Services -
          HRMD Payroll Master to deduct from my salary the following amount of
          unliquidated cash advance 5 days after completion of the purpose of
          this cash advance.</p>
      </div>
      <br>
      <br>
      <div style="display:flex;float: right;margin-right: 70px;">
        <div style="text-align: center;margin: 0px 10px;">
          <p
            style="font-weight: 400;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 14px;margin: 2px 0px;padding: 3px 20px;border-bottom: 0.2px solid rgba(0, 0, 0, 0.521);">
            {{data.author}}
          </p>
          <label
            style="margin: 0px 20px 0px 0px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 16px;padding: 5px 0px 3px 0px;font-weight: 600;display: block;">
            Employee
          </label>
        </div>
        <div style="text-align: center;margin: 0px 10px;">
          <p
            style="font-weight: 400;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 14px;margin: 2px 0px;padding: 3px 20px;border-bottom: 0.2px solid rgba(0, 0, 0, 0.521);">
            {{data.idNumber}}
          </p>
          <label
            style="margin: 0px 20px 0px 0px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 16px;padding: 5px 0px 3px 0px;font-weight: 600;display: block;">ID
            Number</label>
        </div>
      </div>
    </div>
    <br>
    <br>
  </div>
  <div style="margin: auto;width:95%;background-color:white;">
    <br>
    <br>
    <table style="border-collapse: collapse; width: 85%;margin:auto;">
      <thead>
        <tr style="margin: auto;">
          <th style="text-transform:uppercase;border: 1px solid #b6b4b4;font-weight: 500;text-align: center;padding: 8px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-size: 14px;">
            {{#if data.am_status}}
            <p style="text-transform:uppercase;">{{data.am_status}} | {{data.am_date}}</p>
            {{/if}}
            {{data.am_fullname}}
          </th>
          <th style="text-transform:uppercase;border: 1px solid #b6b4b4;font-weight: 500;text-align: center;padding: 8px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-size: 14px;">
            {{#if data.rm_status}}
            <p style="text-transform:uppercase;">{{data.rm_status}} | {{data.rm_date}}</p>
            {{/if}}
            {{data.rm_fullname}}
          </th>
          <th style="text-transform:uppercase;border: 1px solid #b6b4b4;font-weight: 500;text-align: center;padding: 8px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-size: 14px;">
            {{#if data.ram_status}}
            <p style="text-transform:uppercase;">{{data.ram_status}} | {{data.ram_date}}</p>
            {{/if}}
            {{data.ram_fullname}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="font-weight: 400;border: 1px solid #b6b4b4; text-align: center;padding: 8px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-size: 12px;">
            Area Manager
            <p style="margin: 0px;">({{data.area}} | {{data.region}})</p>
          </td>
          <td style="font-weight: 400;border: 1px solid #b6b4b4; text-align: center;padding: 8px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-size: 12px">
            Regional Manager
            <p style="margin: 0px;">({{data.region}})</p>
          </td>
          <td style="font-weight: 400;border: 1px solid #b6b4b4; text-align: center;padding: 8px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-size: 12px">
            Regional Area Manager
            <p style="margin: 0px;">({{data.region}})</p>
          </td>
        </tr>
      </tbody>
    </table>
    <br>
    <table style="border-collapse: collapse; width: 85%;margin:auto;">
      <thead>
        <tr style="margin: auto;">
          <th style="text-transform:uppercase;border: 1px solid #b6b4b4;font-weight: 500;text-align: center;padding: 8px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-size: 14px;">
            {{#if data.ass_status}}
            <p style="text-transform:uppercase;">{{data.ass_status}} | {{data.ass_date}}</p>
            {{/if}}
            {{data.ass_fullname}}
          </th>
          <th style="text-transform:uppercase;border: 1px solid #b6b4b4;font-weight: 500;text-align: center;padding: 8px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-size: 14px;">
            {{#if data.vpo_status}}
            <p style="text-transform:uppercase;">{{data.vpo_status}} | {{data.vpo_date}}</p>
            {{/if}}
            {{data.vpo_fullname}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="border: 1px solid #b6b4b4;font-weight: 400; text-align: center;padding: 8px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-size: 12px">
            Assistant to the COO | VPO
            <p style="margin: 0px;">({{data.region}})</p>
          </td>
          <td style="border: 1px solid #b6b4b4;font-weight: 400; text-align: center;padding: 8px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-size: 12px">
            COO | VPO
            <p style="margin: 0px;">({{data.region}})</p>
          </td>
        </tr>
      </tbody>
    </table>
    <br>
    <div style="margin: auto;width:80%;">
      <h2 style="margin-bottom:10px;">Please review the request above.</h2>
      <form action="http://127.0.0.1:3000/confirm-approval/{{data.controlNo}}/{{approver}}" method="post">
        <div>
          <label for="comment" style="font-size:15px ;">
            <span style="color: red;">*</span>
            Remarks:
          </label>
          <textarea name="comment" placeholder="Add comment here" id="comment" rows="5"
            style="border-radius: 3px;width:90%;padding:15px;font-size:15px"></textarea>
        </div>
        <div style="margin-top: 10px;">
          <input value="Approve" type="submit" name="approved"
            style="cursor:pointer;color: white;font-size:17px;border-radius: 3px;box-shadow: 1px 1px 4px 0px grey ;border: none;background-color:green;padding:6px 15px;margin-right:2px">
          </input>
          <input type="submit" value="Disapprove" name="disapproved"
            style="cursor:pointer;color: white;font-size:17px;border-radius: 3px;box-shadow: 1px 1px 4px 0px grey ;border: none;background-color:rgb(160, 3, 3);padding:6px 15px;margin-left:2px">
          </input>
        </div>
      </form>
    </div>
    <br>
  </div> --}}
  <br>
</div>
<!-- rfButtons -->
<div style="margin-top:15px;background-color:rgba(220, 220, 220, 0.438);margin-left:6px;margin-right:50px;">
  <br>
  <div
    style="background-color:white;border: 1px solid rgba(0, 0, 0, 0.192);width: 95%;margin: auto;margin-top: 30px;margin-bottom: 35px;">
    <!-- okay na ari -->
    <div style="margin: auto;display: flex;justify-content: space-between;">
      <div
        style="padding-left: 15px;padding-top: 5px;padding-bottom: 5px;margin-bottom: 45px;background-color: #cc0404;width: 69%;">
        <h4
          style="margin: auto;font-size: 21px;color: white;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
          Revolving Fund Liquidation</h4>
      </div>
      <img src="https://phisoblog.files.wordpress.com/2015/11/mlhuillier-logo.jpg" alt="ml_logo"
        style="padding-right: 0;padding-left: 0px;margin-top: -1px;width: 30%;height: 80px;">
      <!-- <img src="assets/mlhuillier-logo.jpg" alt="ml-logo" class="logo col-4"> -->
    </div>
    <!-- okay na bawbaw -->
    <!-- <br> -->
    <div style="margin-top: 10px;">
      <!-- second--col -->
      <div style="display: flex;width: 100%;">
        <div style="width: 50%;margin: 0px 0px 0px 50px;">
          <div style="display: flex;">
            <label
              style="width:30%;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 14px;padding: 5px 0px 3px 0px;font-weight: 600;display: block;">
              Requestor Type:
            </label>
            <span
              style="text-transform: uppercase;font-weight: 400;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 14px;width:60%;padding: 3px 3px;border-top: none;border-left: none;border-right: none;border-bottom: 0.2px solid rgba(0, 0, 0, 0.521);">
              {{data.type}}
            </span>
          </div>
          <div style="display: flex;">
            <label
              style="width:30%;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 14px;padding: 5px 0px 3px 0px;font-weight: 600;display: block;">
              Date:
            </label>
            <span
              style="font-weight: 400;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 14px;width:60%;padding: 3px 3px;border-top: none;border-left: none;border-right: none;border-bottom: 0.2px solid rgba(0, 0, 0, 0.521);">
              {{data.rf_date}}
            </span>
          </div>
          <div style="display: flex;">
            <label
              style="width:30%;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 14px;padding: 5px 0px 3px 0px;font-weight: 600;display: block;">
              Requestor:
            </label>
            <span
              style="text-transform: uppercase;font-weight: 400;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 14px;width:60%;padding: 3px 3px;border-top: none;border-left: none;border-right: none;border-bottom: 0.2px solid rgba(0, 0, 0, 0.521);">
              {{data.requestor}}
            </span>
          </div>
          <div style="display: flex;">
            <label
              style="width:30%;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 14px;padding: 5px 0px 3px 0px;font-weight: 600;display: block;">
              Base Branch:
            </label>
            <span
              style="text-transform: uppercase;font-weight: 400;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 14px;width:60%;padding: 3px 3px;border-top: none;border-left: none;border-right: none;border-bottom: 0.2px solid rgba(0, 0, 0, 0.521);">
              {{data.baseBranch}}
            </span>
          </div>
          <div style="display: flex;">
            <label
              style="width:30%;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 14px;padding: 5px 0px 3px 0px;font-weight: 600;display: block;">
              Region:
            </label>
            <span
              style="text-transform: uppercase;font-weight: 400;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 14px;width:60%;padding: 3px 3px;border-top: none;border-left: none;border-right: none;border-bottom: 0.2px solid rgba(0, 0, 0, 0.521);">
              {{data.region}}
            </span>
          </div>
          <div style="display: flex;">
            <label
              style="width:30%;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 14px;padding: 5px 0px 3px 0px;font-weight: 600;display: block;">
              Email Address:
            </label>
            <span
              style="font-weight: 400;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 14px;width:60%;padding: 3px 3px;border-top: none;border-left: none;border-right: none;border-bottom: 0.2px solid rgba(0, 0, 0, 0.521);">
              {{data.email}}
            </span>
          </div>
        </div>
        <div style="width: 50%;">
          <div style="display: flex;">
            <label
              style="margin: 0px 20px 0px 0px;width:30%;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 14px;padding: 5px 0px 3px 0px;font-weight: 600;display: block;">
              Control No:
            </label>
            <span
              style="font-weight: 400;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 14px;width:50%;padding: 3px 3px;border-top: none;border-left: none;border-right: none;border-bottom: 0.2px solid rgba(0, 0, 0, 0.521);">
              {{data.controlNo}}
            </span>
          </div>
          <div style="display: flex;">
            <label
              style="margin: 0px 20px 0px 0px;width:30%;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 14px;padding: 5px 0px 3px 0px;font-weight: 600;display: block;">
              Period:
            </label>
            <span
              style="text-transform: uppercase;font-weight: 400;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 14px;width:50%;padding: 3px 3px;border-top: none;border-left: none;border-right: none;border-bottom: 0.2px solid rgba(0, 0, 0, 0.521);">
              {{data.period}}
            </span>
          </div>
          <div style="display: flex;">
            <label
              style="margin: 0px 20px 0px 0px;width:30%;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 14px;padding: 5px 0px 3px 0px;font-weight: 600;display: block;">
              RF Allowance:</label>
            <span
              style="font-weight: 400;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 14px;width:50%;padding: 3px 3px;border-top: none;border-left: none;border-right: none;border-bottom: 0.2px solid rgba(0, 0, 0, 0.521);">
              {{data.allowance}}
            </span>
          </div>
          <div style="display: flex;">
            <label
              style="margin: 0px 20px 0px 0px;width:30%;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 14px;padding: 5px 0px 3px 0px;font-weight: 600;display: block;">
              Pending RF:
            </label>
            <span
              style="text-transform: uppercase;font-weight: 400;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 14px;width:50%;padding: 3px 3px;border-top: none;border-left: none;border-right: none;border-bottom: 0.2px solid rgba(0, 0, 0, 0.521);">
              {{data.pendingRf}}
            </span>
          </div>
          <div style="display: flex;">
            <label
              style="margin: 0px 20px 0px 0px;width:30%;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 14px;padding: 5px 0px 3px 0px;font-weight: 600;display: block;">
              Total Expenses:
            </label>
            <span
              style="font-weight: 400;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 14px;width:50%;padding: 3px 3px;border-top: none;border-left: none;border-right: none;border-bottom: 0.2px solid rgba(0, 0, 0, 0.521);">
              {{data.totalExpenses}}
            </span>
          </div>
          <div style="display: flex;">
            <label
              style="margin: 0px 20px 0px 0px;width:30%;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 14px;padding: 5px 0px 3px 0px;font-weight: 600;display: block;">
              Cash On Hand:
            </label>
            <span
              style="font-weight: 400;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 14px;width:50%;padding: 3px 3px;border-top: none;border-left: none;border-right: none;border-bottom: 0.2px solid rgba(0, 0, 0, 0.521);">
              {{data.cashOnHand}}
            </span>
          </div>
        </div>
      </div>
      <br>
      <!-- <br> -->
      <div style="display: flex;width: 100%;">
        <div style="width: 50%;margin: 0px 0px 0px 50px;">
          <div style="display: flex;">
            <label
              style="width:30%;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 14px;padding: 5px 0px 3px 0px;font-weight: 600;display: block;">
              Transportation:
            </label>
            <span
              style="direction:rtl;font-weight: 400;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 14px;width:60%;padding: 3px 3px;border-top: none;border-left: none;border-right: none;border-bottom: 0.2px solid rgba(0, 0, 0, 0.521);">
              {{data.transportation}}
            </span>
          </div>
          <div style="display: flex;">
            <label
              style="width:30%;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 14px;padding: 5px 0px 3px 0px;font-weight: 600;display: block;">
              Office Supplies:
            </label>
            <span
              style="direction:rtl;font-weight: 400;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 14px;width:60%;padding: 3px 3px;border-top: none;border-left: none;border-right: none;border-bottom: 0.2px solid rgba(0, 0, 0, 0.521);">
              {{data.officeSupplies}}
            </span>
          </div>
          <div style="display: flex;">
            <label
              style="width:30%;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 14px;padding: 5px 0px 3px 0px;font-weight: 600;display: block;">
              Meals:
            </label>
            <span
              style="direction:rtl;font-weight: 400;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 14px;width:60%;padding: 3px 3px;border-top: none;border-left: none;border-right: none;border-bottom: 0.2px solid rgba(0, 0, 0, 0.521);">
              {{data.meals}}
            </span>
          </div>
          <div style="display: flex;">
            <label
              style="width:30%;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 14px;padding: 5px 0px 3px 0px;font-weight: 600;display: block;">
              Others:
            </label>
            <span
              style="direction:rtl;font-weight: 400;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 14px;width:60%;padding: 3px 3px;border-top: none;border-left: none;border-right: none;border-bottom: 0.2px solid rgba(0, 0, 0, 0.521);">
              {{data.others}}
            </span>
          </div>
          <div style="display: flex;">
            <label
              style="width:30%;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 14px;padding: 5px 0px 3px 0px;font-weight: 600;display: block;">
              Total Expenses:
            </label>
            <span
              style="direction:rtl;font-weight: 400;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 14px;width:60%;padding: 3px 3px;border-top: none;border-left: none;border-right: none;border-bottom: 0.2px solid rgba(0, 0, 0, 0.521);">
              {{data.total}}
            </span>
          </div>
        </div>
        <div style="width: 50%;">
          <div style="display: flex;">
            <label
              style="margin: 0px 20px 0px 0px;width:30%;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 14px;padding: 5px 0px 3px 0px;font-weight: 600;display: block;">
              Purpose:
            </label>
            <span
              style="font-weight: 400;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 14px;width:50%;padding: 3px 3px;border-top: none;border-left: none;border-right: none;border-bottom: 0.2px solid rgba(0, 0, 0, 0.521);">
              {{data.purpose}}
            </span>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
  </div>
  <div style="margin: auto;width:95%;background-color:white;">
    <br>
    <br>
    <table style="border-collapse: collapse; width: 85%;margin:auto;">
      <thead>
        <tr style="margin: auto;">
          {{#if data.am_fullname}}
          <th style="text-transform:uppercase;border: 1px solid #b6b4b4;font-weight: 500;text-align: center;padding: 8px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-size: 13px;">
            {{#if data.am_status}}
            <p style="text-transform:uppercase;">{{data.am_status}} | {{data.am_date}}</p>
            {{/if}}
            {{data.am_fullname}}
          </th>
          {{/if}}
          {{#if data.rm_fullname}}
          <th style="text-transform:uppercase;border: 1px solid #b6b4b4;font-weight: 500;text-align: center;padding: 8px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-size: 13px;">
            {{#if data.rm_status}}
            <p style="text-transform:uppercase;">{{data.rm_status}} | {{data.rm_date}}</p>
            {{/if}}
            {{data.rm_fullname}}
          </th>
          {{/if}}
          {{#if data.ram_fullname}}
          <th style="text-transform:uppercase;border: 1px solid #b6b4b4;font-weight: 500;text-align: center;padding: 8px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-size: 13px;">
            {{#if data.ram_status}}
            <p style="text-transform:uppercase;">{{data.ram_status}} | {{data.ram_date}}</p>
            {{/if}}
            {{data.ram_fullname}}
          </th>
          {{/if}}
        </tr>
      </thead>
      <tbody>
        <tr>
          {{#if data.am_fullname}}
          <td style="font-weight: 400;border: 1px solid #b6b4b4; text-align: center;padding: 8px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-size: 12px;">
            Area Manager
            <p style="margin: 0px;">({{data.region}})</p>
          </td>
          {{/if}}
          {{#if data.rm_fullname}}
          <td style="font-weight: 400;border: 1px solid #b6b4b4; text-align: center;padding: 8px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-size: 12px">
            Regional Manager
            <p style="margin: 0px;">({{data.region}})</p>
          </td>
          {{/if}}
          {{#if data.ram_fullname}}
          <td style="font-weight: 400;border: 1px solid #b6b4b4; text-align: center;padding: 8px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-size: 12px">
            Regional Area Manager
            <p style="margin: 0px;">({{data.region}})</p>
          </td>
          {{/if}}
        </tr>
      </tbody>

    </table>
    <br>
    <table style="border-collapse: collapse; width: 85%;margin:auto;">
      <thead>
        <tr style="margin: auto;">
          {{#if data.ass_fullname}}
          <th style="text-transform:uppercase;border: 1px solid #b6b4b4;font-weight: 500;text-align: center;padding: 8px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-size: 13px;">
            {{#if data.ass_status}}
            <p style="text-transform:uppercase;">{{data.ass_status}} | {{data.ass_date}}</p>
            {{/if}}
            {{data.ass_fullname}}
          </th>
          {{/if}}
          {{#if data.vpo_fullname}}
          <th style="text-transform:uppercase;border: 1px solid #b6b4b4;font-weight: 500;text-align: center;padding: 8px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-size: 13px;">
            {{#if data.vpo_status}}
            <p style="text-transform:uppercase;">{{data.vpo_status}} | {{data.vpo_date}}</p>
            {{/if}}
            {{data.vpo_fullname}}
          </th>
          {{/if}}
        </tr>
      </thead>
      <tbody>
        <tr>
          {{#if data.ass_fullname}}
          <td style="border: 1px solid #b6b4b4;font-weight: 400; text-align: center;padding: 8px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-size: 12px">
            Assistant to the COO | VPO
            <p style="margin: 0px;">({{data.region}})</p>
          </td>
          {{/if}}
          {{#if data.vpo_fullname}}
          <td style="border: 1px solid #b6b4b4;font-weight: 400; text-align: center;padding: 8px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-size: 12px">
            COO | VPO
            <p style="margin: 0px;">({{data.region}})</p>
          </td>
          {{/if}}
        </tr>
      </tbody>
    </table>
    <br>
    <div style="margin: auto;width:80%;">
      <h2 style="margin-bottom:10px;">Please review the request above.</h2>
      <form action="http://127.0.0.1:3000/rfRequestFlow/{{data.controlNo}}/{{approver}}" method="post">
        <div>
          <label for="comment" style="font-size:15px ;">
            <span style="color: red;">*</span>
            Remarks:
          </label>
          <textarea name="comment" placeholder="Add comment here" id="comment" rows="5"
            style="border-radius: 3px;width:90%;padding:15px;font-size:15px"></textarea>
        </div>
        <div style="margin-top: 10px;">
          <!-- {{!-- <button type="submit"
              style="color: white;font-size:17px;border-radius: 3px;box-shadow: 1px 1px 4px 0px grey ;border: none;background-color:green;padding:6px 15px;margin-right:2px">
              Approve
            </button>
            <button type="submit"
              style="color: white;font-size:17px;border-radius: 3px;box-shadow: 1px 1px 4px 0px grey ;border: none;background-color:rgb(160, 3, 3);padding:6px 15px;margin-left:2px">
              Deny
            </button> --}} -->
          <input value="Approve" type="submit" name="approved"
            style="cursor:pointer;color: white;font-size:17px;border-radius: 3px;box-shadow: 1px 1px 4px 0px grey ;border: none;background-color:green;padding:6px 15px;margin-right:2px">
          </input>
          <input type="submit" value="Disapprove" name="disapproved"
            style="cursor:pointer;color: white;font-size:17px;border-radius: 3px;box-shadow: 1px 1px 4px 0px grey ;border: none;background-color:rgb(160, 3, 3);padding:6px 15px;margin-left:2px">
          </input>
          <!-- {{!-- <button
              style="border-radius: 3px;box-shadow: 1px 1px 4px 0px grey ;border: none;background-color:green;padding:6px 15px;margin-right:2px"><a
                href="#" style="color: white;font-size:17px;text-decoration-line:none">Approve</a></button>
            <button
              style="border-radius: 3px;box-shadow: 1px 1px 4px 0px grey ;border: none;background-color:rgb(160, 3, 3);padding:6px 15px;margin-left:2px"><a
                href="#" style="color: white;font-size:17px;text-decoration-line:none">Deny</a></button> --}} -->
        </div>
      </form>
    </div>
    <br>
    <br>
  </div>
  <br>
</div>