<div style="margin: auto;width:100%">
    <br>
    <div>
        <br>
        <div style="margin: auto;width:90%">
            <p style="font-size: 15px;font-weight: 400;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
                Hi! <span style="text-transform: uppercase;">{{requestor}}</span>
            </p>
            <p style="font-size: 15px;color: #353434;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
                {{message}}
            </p>
            <p style="font-size: 15px;color: #353434;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
                Request Status:
                <span
                    style="text-transform: capitalize;border-radius: 3px;padding: 4px 9px;background-color:rgb(248, 191, 125) ;color: rgb(184, 52, 4);">
                    {{status}} for Approval
                </span>
                
            </p>
            <br>
            <p style="font-size: 15px;color: #353434;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Thank you!</p>
            <p style="font-size: 15px;color: #353434;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">M Lhuillier Financial Services Inc.</p>
        </div>
        <br>
    </div>
</div>