<div>
    <br>
    <div style="margin: auto;width:95%;">
        <p style="font-size: 15px;font-weight: 400;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
            Hello! <span style="text-transform: uppercase;">{{requestor}}</span>
        </p>
        <p style="font-size: 15px;color: #353434;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
            Your Cash Request <span style="font-weight: 500;color:red">{{controlno}}</span> has been approved!
        </p>
        <p style="font-size: 15px;color: #353434;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
            Please see attached file.
        </p>
        <br>
        <p style="font-size: 15px;color: #353434;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Thank
            you!</p>
        <p style="font-size: 15px;color: #353434;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">M
            Lhuillier Financial Services Inc.</p>
    </div>
    <br>
</div>